body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 2px solid black;
}

.square {
  box-sizing: border-box;
  border: 1px solid #eee;
  background-color: white;
}
